{% if not embedded %}
    {% extends "base.html" %}
    {% block title %}FAQ - Pick Up Volleyball PDX{% endblock %}
{% endif %}



{% block content %}

<div class="full-width-background-faq">
    <section class="faq">
        <h1>Frequently Asked Questions</h1>
        <div class="faq-item">
            <h2 class="faq-question">
                <span class="toggle-sign">+</span> Q: What skill level are the events?
            </h2>
            <p class="faq-answer">A: We offer events for a variety of skill levels.  Beginner/All Level events for players who are B level or below, and Advanced level events for players who are BB level or higher.</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">
                <span class="toggle-sign">+</span> Q: How do events work?
            </h2>
            <p class="faq-answer">A: Teams are made randomly by numbering off at the beginning of each event and mixed up during the event.</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">
                <span class="toggle-sign">+</span> Q: What do the letter rankings mean?
            </h2>
            <p class="faq-answer">A: They denote skill level.  C-CC players are learning the basics and make errors frequently.  B-BB level players have the basics down, make errors infrequently, but may be less confident in certain areas.  A-AA/Open level players are highly skilled, seldom make errors, and have competed at a high level.  Players who are C-B level will be best suited for our Beginner/All Levels events, and players BB+ will be best suited for our Advanced events.</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">
                <span class="toggle-sign">+</span> Q: Do you run systems?
            </h2>
            <p class="faq-answer">A: At Beginner/All Level events we do not, but at Advanced events we often do - assuming most people are familiar.</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">
                <span class="toggle-sign">+</span> Q: What are systems?
            </h2>
            <p class="faq-answer">A: When running a system everyone plays a designated position rather than playing every position.  The basic systems are 5-1 and 6-2.  In a 5-1 there is 1 setter who sets from all 6 rotations on the court.  In a 6-2 there are 2 setters, each taking turns setting from the back row. Youtube has more detailed breakdowns!</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">
                <span class="toggle-sign">+</span> Q: What do I need to bring?
            </h2>
            <p class="faq-answer">A: Bring yourself, and what you’ll need to play including gear and water. Note that court shoes are required to play! We will have to turn you down at the door if you only have street shoes.</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">
                <span class="toggle-sign">+</span> Q: Where are events located?
            </h2>
            <p class="faq-answer">A: Events are held all throughout the Portland area at various days & times!</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">
                <span class="toggle-sign">+</span> Q: Is there a player cap?
            </h2>
            <p class="faq-answer">A: Yes. We keep a hard cap at 7 players/team.  Total event cap is set accordingly based on how many nets there are.</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">
                <span class="toggle-sign">+</span> Q: Do you also run Clinics, Leagues, or Tournaments?
            </h2>
            <p class="faq-answer">A: Yes. We run clinics for different skill levels, and run tournaments over the summer!  Leagues are in the works.</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">
                <span class="toggle-sign">+</span> Q: What is the best way to get involved in the community?
            </h2>
            <p class="faq-answer">A: Don’t be afraid to try an event! It is a great way to meet new people and get engaged. If you come to events frequently & want to get more involved, check out our hosting page!</p>
        </div>
        <div class="faq-item">
            <h2 class="faq-question">
                <span class="toggle-sign">+</span> Q: How do I get better?
            </h2>
            <p class="faq-answer">A: Attend our clinics, watch high-level film, ask advice from experienced players, and of course - Play! If you are interested in being coached 1:1 to learn the basics or hone specific skills, reach out to <a href="https://www.instagram.com/pickupvolleyballpdx" target="_blank" rel="noopener noreferrer">pickupvolleyballpdx</a> on instagram!</p>
        </div>
    </section>
</div>

<script>
    // JavaScript for toggling the FAQ answers and signs
    document.querySelectorAll('.faq-question').forEach(question => {
        question.addEventListener('click', () => {
            const answer = question.nextElementSibling;
            const toggleSign = question.querySelector('.toggle-sign');
            answer.style.display = answer.style.display === 'block' ? 'none' : 'block';
            toggleSign.innerHTML = answer.style.display === 'block' ? '−' : '+'; // Change sign
        });
    });
</script>
{% endblock %}
